### Java ###
*.class
*.log
*.ctxt
.mtj.tmp/

### Package Files ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### JVM crash logs ###
hs_err_pid*
replay_pid*

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
src/main/generated/
src/test/generated/


### VS Code ###
.vscode/

### 환경 변수 파일 (민감 정보) ###
.env
.env.production

### OS ###
.DS_Store
Thumbs.db